<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Results</title>
</head>
<body>
    <header>
        <img class="logo" src="img/logo.png" alt="logo">
        <nav>
            <ul class="nav_links">
                <li><a href = "/">Home</a></li>
                <li><a href="/results">Results</a></li>                
                <li><a href="/reports">Reports</a></li>  
            </ul>
        </nav>
    </header>

    <div class="container">
        <h1>Your BMI results!</h1>
        <p>Your BMI is {{bmi}}</p>
    </div>

    {{!-- //show BMI of an individual 
show whether you're overweight or underweight
the BMI should have color; if normal it should be green, if underweight it should be yellow, if overweight green --}}
</body>
</html>